{% extends 'base.html' %}
{% block title %} About {% endblock title %} 
{% block body %}
    <div class="float-container">
        <div class="float-child" >
            <h3>Who I am ? </h3>
            <p>I am Ravi Prakash Yadav. I am an Engineer by Profession. I love playing cricket.</p>
            <hr>
            <img src="/static/imgs/ravi.jpeg" alt="ravi pic" , height="400">
        </div>

        <div class="float-child">
            <div class="card-body">
                <h5 class="card-title">Today's Quote</h5>
                <p class="card-text">Do What is good for you as well as for society..</p>
            </div>
        </div>

    </div>

{% endblock body %}
